<page-title [title]="title" [breadcrumbs]="breadcrumbs"/>
<div class="rounded-md p-4 m-4 bg-white shadow-md">
  <div class="flex w-full mb-4">
    <button type="button" mat-raised-button color="primary" (click)="addUser()">
      <mat-icon fontIcon="add"></mat-icon>
      Add Users
    </button>
  </div>
  <hr>
  <table mat-table [dataSource]="users">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let row; let i = index">{{(i+1)}}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let row">{{row.username}}</td>
    </ng-container>

    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef>Firstname</th>
      <td mat-cell *matCellDef="let row">{{row.firstname}}</td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button class="icon-button danger rounded-md" title="Delete" (click)="deleteUser(row.id)">
          <fa-icon [icon]="deleteIcon"></fa-icon>
        </button>
        <button class="icon-button primary rounded-md" title="Edit" (click)="editUser(row.id)">
          <fa-icon [icon]="editIcon"></fa-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id','username','firstname','lastname','action']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id','username','firstname','lastname','action'];"></tr>

  </table>
</div>
