<mat-drawer-container class="sidenav-container h-screen">
  <mat-drawer #sidenav class="sidenav" mode="over" opened="true">
    <ul class="p-4 flex flex-col gap-1">
      <li>
        <div class="flex justify-between">
          <app-logo/>
          <button mat-mini-fab (click)="sidenav.toggle()" title="sidenav toggle">
            <mat-icon fontIcon="close" class="w-3 h-3"></mat-icon>
          </button>
        </div>
        <br/>
      </li>
      <ng-container *ngFor="let menu of menus">

        <li *ngIf="menu.id==0; else menuItem" class="flex p-1">
          <b>{{menu.group}}</b>
        </li>

        <ng-template #menuItem>
          <menu-item label="{{menu.name}}" icon="{{menu.icon}}" [active]="(menu.authorities.includes(activeNav))" [link]="menu.link">
            <sub-menu *ngFor="let subMenu of menu.children" label="{{subMenu.name}}" [active]="subMenu.authorities.includes(activeNav)" [link]="subMenu.link">
              <sub-menu *ngFor="let sub of subMenu.children" label="{{sub.name}}" [active]="sub.authorities.includes(activeNav)" [link]="sub.link" [level]="2"/>
            </sub-menu>
          </menu-item>
        </ng-template>

      </ng-container>
    </ul>
  </mat-drawer>
  <header class="flex p-2 justify-between items-center bg-white fixed top-0 w-screen z-10">
    <div class="flex justify-center items-center gap-2">
      <div class="flex justify-center items-center">
        <button mat-mini-fab (click)="sidenav.toggle()" title="sidenav toggle">
          <mat-icon fontIcon="menu" class="w-3 h-3"></mat-icon>
        </button>
      </div>
      <app-logo/>
    </div>
    <div class="w-[40px] h-[40px] relative">
      <div class="bg-sky-600 w-full h-full rounded-full flex justify-center items-center text-white">
        <mat-icon fontIcon="account_circle"></mat-icon>
      </div>
<!--      <div class="absolute bg-amber-300 right-0 min-w-[150px] rounded-md shadow-sm py-2">-->
<!--        <ul>-->
<!--          <menu-item class="px-4" label="Logout" icon="logout"></menu-item>-->
<!--          <li>-->
<!--            <a href="javascript:void(0)" class="flex px-4 gap-1 items-center">-->
<!--              <div class="w-[28px] h-[28px] flex justify-center items-center">-->
<!--                <mat-icon fontIcon="logout"></mat-icon>-->
<!--              </div>-->
<!--              <div>Logout</div>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="javascript:void(0)" class="flex px-4 gap-1 items-center">-->
<!--              <div class="w-[28px] h-[28px] flex justify-center items-center">-->
<!--                <mat-icon fontIcon="logout"></mat-icon>-->
<!--              </div>-->
<!--              <div>Logout</div>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="javascript:void(0)" class="flex px-4 gap-1 items-center">-->
<!--              <div class="w-[28px] h-[28px] flex justify-center items-center">-->
<!--                <mat-icon fontIcon="logout"></mat-icon>-->
<!--              </div>-->
<!--              <div>Logout</div>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
    </div>
  </header>
  <main class="content">
    <ng-content></ng-content>
  </main>
</mat-drawer-container>
