<li>
  <a class="flex {{active ? 'bg-sky-100':'' }}  rounded-md relative {{active ? 'text-sky-700' : 'text-neutral-600'}}" (click)="toggleSubmenu()">
    <div class="w-[40px] h-[40px] flex justify-center items-center">
      <mat-icon fontIcon="{{ icon }}" class="w-3 h-3"/>
    </div>
    <div class="flex items-center justify-center">
      {{ label }}
    </div>
    {{hasSubmenu ? '' :''}}
    <mat-icon *ngIf="hasSubmenu" [@rotateArrow]="submenuState" class="absolute right-0 mx-1 top-[calc(50%-12px)] transform transition duration-300" fontIcon="navigate_next" />
  </a>
  <ul [@dropdownMenu]="submenuState">
    <ng-content></ng-content>
  </ul>
</li>

