<label class="group">
  <span class="font-medium {{onFocus? 'text-sky-700':''}}">{{label}}</span>
  <ng-content select="[test]"></ng-content>
  <div
    class="{{error ? '!border-red-600': '' }} flex border-[1px] rounded-md focus-within:border-blue-400 focus-within:focused overflow-hidden">
    <ng-content></ng-content>
    <ng-container *ngIf="showPasswordToggle">
      <button class="py-1 px-2 flex" type="button" (click)="togglePassword()">
        <mat-icon>{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
    </ng-container>
  </div>
  <div *ngIf="error" class="flex flex-col text-sm">
    <ng-content select="mat-error"></ng-content>
  </div>
</label>
