<div class="flex w-full h-full bg-neutral-100 justify-center items-center">

  <div class="bg-white p-4 w-full m-4 rounded-md drop-shadow-md">
    <header class="flex justify-between">
      <div>
        <h2 class="!text-xl !font-bold text-sky-600 !m-0">Hi, Welcome Back</h2>
        <h4 class="!m-0 !font-bold">Login to your account</h4>
      </div>
      <app-logo/>
    </header>
    <div class="mt-10 px-3">
      <form action="">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password">
        </mat-form-field>
      </form>
    </div>
  </div>
</div>
