@use '@angular/material' as mat;
@include mat.core;

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// fix border from tailwindcss in input with outline border
.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right-style: hidden;
}

$my-primary: mat.define-palette(mat.$light-blue-palette, 500, A200, A700);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
  color:(
    primary:$my-primary,
    accent:$my-accent
  ),
  typography:mat.define-typography-config(),
  density:0
));

@include mat.all-component-themes($my-theme);
