@use '@angular/material' as mat;
@include mat.core;

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// fix border from tailwindcss in input with outline border
.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right-style: hidden;
}

$my-primary: mat.define-palette(mat.$light-blue-palette, 700, A200, A700);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
  color:(
    primary:$my-primary,
    accent:$my-accent
  ),
  typography:mat.define-typography-config(),
  density:0
));

@include mat.all-component-themes($my-theme);

.alert > .content a {
  @apply font-bold
}

.alert.info > .content a {
  @apply hover:text-sky-600;
}

.alert.danger > .content a {
  @apply hover:text-red-600;
}

.alert.success > .content a {
  @apply hover:text-green-600;
}

.alert.warning > .content a {
  @apply hover:text-yellow-600;
}

button.icon-button {
  @apply p-1 m-[1px] inline-flex justify-center items-center text-white
  w-7 h-7 shadow-neutral-600 shadow-sm hover:shadow-md
}

button.icon-button.primary {
  @apply bg-sky-600 hover:bg-sky-500
}

button.icon-button.secondary {
  @apply bg-pink-600 hover:bg-pink-500
}

button.icon-button.success {
  @apply bg-lime-600 hover:bg-lime-500
}

button.icon-button.warning {
  @apply bg-yellow-600 hover:bg-yellow-500
}

button.icon-button.danger {
  @apply bg-red-600 hover:bg-red-500
}

button.icon-button.info {
  @apply bg-blue-600 hover:bg-blue-500
}

button.icon-button.dark {
  @apply bg-neutral-600 hover:bg-neutral-800
}

button.icon-button.light {
  @apply bg-white hover:bg-neutral-300 text-black
}
